



/* 

        HEADER

*/
#main-header{
    height: var(--header-height);
}



.icon-header > i{
    margin-right: 10px;
}
/* 

        MAIN

*/
#main-section{
    height: calc(100vh - var(--header-height));
}
.statistics img{
    max-width: 100%;
    
}




th img{
    width: 20px;
    height: 20px;
    background-size: cover;
}





/* 

        ASIDE

*/
aside{
    background-image: url('../img/sidebar-bg.png');
    background-size: cover;
    background-color: #051e34;
    width: 10%;
}  
aside ul li:hover {
    background-color: rgba(255,255,255,0.8); 
    color: #fff; 
}


#main-section nav ul li a{
    text-decoration: none;
    list-style: none;
    color: white;

}
#main-section nav ul li > *{
    vertical-align: middle;
    padding: .625rem;
    font-size: 15px;
}

#main-section nav ul{
    margin-top: 10px;

}
#main-section nav ul li a,
#main-section nav ul li i  {
    vertical-align: baseline;
    font-size: large;
}

#main-section nav ul li a{
    padding: 15px;
}







/* 

        ROOT

*/
:root{
    --header-height: 60px;
}



